:root{
    --deep-blue: #253241;
    --white: #efefef;
    --black: #1f1f1f;
    --blue: #008fe1;
    --light-blue: #26ABED;
    --orange: #f86c00;
    --deep-orange: #c45907;
    --green: #2bc71f;
    --yellow: #dbe915;
    --gray: #a8a8a8;
    --purple: #242354;
    --deep-gray: #707070;
}