.trip-list-item{
    font-family: "Roboto";
    margin: 3.5rem 0;
}

.trip-list-item .wrapper .btn-action{
    float: right;
}

.trip-list-item .fa{
    margin-right: 6px;
    color: var(--gray);
}

.trip-list-item .fa.fa-star{
    color: var(--yellow);
}

.trip-list-item .driver{
    display: flex;
}

.trip-list-item .driver .avatar{
    width: 45px;
    height: 45px;
    border: 0;
}

@media screen and (max-width: 1200px){
    .trip-list-item .wrapper .fee{
        font-size: 1.2rem;
    }    
}

@media screen and (max-width: 990px){
    .trip-list-item .wrapper .btn-action{
        float:left;
    }
}

@media screen and (max-width: 768px){
    .trip-list-item .wrapper{
        margin-top: 1rem;
    }
}