.book-trip-info-wrapper .trip-info{
    font-size: 1rem;
}

.book-trip-info-wrapper .trip-info .fa{
    margin-right: 6px;
    color: var(--gray);
}

.book-trip-info-wrapper .trip-info .fa.fa-star{
    color: var(--yellow);
}

.book-trip-info-wrapper .trip-info .driver{
    display: flex;
}

.book-trip-info-wrapper .trip-info .driver .avatar{
    width: 45px;
    height: 45px;
    border: 0;
}