.navbar-xedike{
    background: var(--deep-blue);
    color: var(--white);
}

.navbar-xedike .navbar-brand img{
    width: 170px;
    height: 50px;
}

.navbar-xedike .navbar-btn-group{
    display: flex;
}

.navbar-xedike .navbar-btn-group .nav-link{
    color: var(--white);
    transition: all .3s;
    font-size: 1rem;
}

.navbar-xedike .navbar-btn-group .nav-link:hover{
    color: var(--light-blue);
}


@media screen and (max-width: 640px){
    .navbar-xedike .navbar-brand img{
        width: 120px;
        margin-bottom: 2rem;
    }
    .navbar-xedike{
        justify-content: center;
    }
}
